[run]
relative_files = True

[report]
omit =
    */python?.?/*
    */site-packages/nose/*
exclude_lines =
    @numba.jit
    @jit
    @numba.stencil
    @numba.guvectorize
    @numba.vectorize
    pragma: no cover
    if TYPE_CHECKING:
    @overload
