# Python bytecode files
*.py[co]
__pycache__

# Packages
.installed.cfg
*.egg
*.egg-info
bin/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox/
tests/result_images/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Data files
data/
*.mat

# Mac OS X cruft
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Sphinx stuff
/docs/_build/
/docs/auto_examples/
/docs/generated/

# Vim
*.swp

# Testing and checkpoints
.coverage.*
.ipynb_checkpoints/
coverage.xml

# IDE
.idea/
.vscode/
*.code-workspace

# py -m venv
pyvenv.cfg
/Lib/site-packages/
/scripts/
