*.py[co]
__pycache__

__pycache__

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
tests/result_images/

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Data files
*/data/*
*.mat

# Mac OS X cruft
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Sphinx stuff
docs/generated/
docs/_build/
docs/auto_examples/

# Vim
*.swp

# Testing and checkpoints
.ipynb_checkpoints
.coverage.*
coverage.xml

#IDE
.idea/
