div.wy-side-nav-search .version {
    color: #404040;
    font-weight: bold;
}

nav.wy-nav-top {
    background: #AA2396;
}

div.wy-nav-content {
    max-width: 1000px;
}

span.caption-text {
    color: #cc4878;
}
